.button {
    font-size: 40px;
    color: darkslategray;
    background-color: rgba(255, 214, 13, 0.89);
    border-radius: 10px;
    font-weight: bold;
}

.button:hover {
    cursor: pointer;
}
.button:active {
    color: rgba(255, 214, 13, 0.89);
    background-color: transparent;
}
.button:disabled {
    background-color: rgba(255, 214, 13, 0.3);
}

.button:disabled:active {
    color: darkslategray;
}